<!--BEGIN FOOTER-->
<div class="main-footer clearfix">
    <div class="pull-left">
        Powered by <a href="#" target="_blank">FesocEHr</a>
    </div>
    <div class="pull-right hidden-xs">
        <b>FesocEHr version 1.0</b>
    </div>
    <div class="text-center">
        @(DateTime.Now.ToString("f"))
    </div>
</div>
<!--END FOOTER-->
